<h1>Counters</h1>
<table>
  <tr><td>Nodes</td><td><%= BRGS::Index.node_count %></td></tr>
  <tr><td>Sources</td><td><%= BRGS::Index.source_count %></td></tr>
  <tr><td>Sinks</td><td><%= BRGS::Index.sink_count %></td></tr>
  <tr><td>Paths</td><td><%= BRGS::Index.path_count %></td></tr>
</table>

<%= stats_poll %>
